

.containerFaq{
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 1.5rem;
    width: 80%;
    background-color: white;
    flex-wrap: wrap;
   
}

.faqBg{
    background-color: #9C9E30;
    padding-bottom: 2rem; 
    min-height: 50vh; 
}
.faqBg h2{
    font-size: 2rem;
    padding-block: 16px;
}

.accordion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px rgb(205, 204, 204);
    padding: 1rem;
    width: 90%;
    cursor: pointer;
    margin: 1rem auto;
}

.faq{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.faq i{
    font-size: 40px;
    margin-bottom: 3rem;
}

i{
    max-width: 40px;
}

.accordion-item{
    display: block;
    flex-direction: column;
    display: none;
}

.accordion-item.show{
    display: block;
    margin: 0;
    padding-right: 1rem; 
    word-wrap: break-word; 
}

.accordion-item p{
    text-align: center;
}

.accordion-header i{
    padding-left: 1rem;
    flex-shrink: 0;
}

.handi{
    margin-bottom: 2rem;
    border: 2px solid transparent;
    padding: 2rem;
    max-width: 1440px;
    width: 70%;
    margin: 0 auto;
}

.handi h2{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: #EDEDED;
}

.handi p{
    color: #EDEDED;
}

.handiBg{
    background-color: #737D4A;
    padding: 2rem 0;
}

.myndighedContainer{
    max-width: 80%;
    margin: 0 auto;
}
.myndighedContainer p{
    margin-top: 2rem;
    padding: 2rem;
}

.myndighedContainer img{
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

h2{
    text-align: center;
    color: #EDEDED;
}

@media (min-width: 768px) {
    .containerFaq{
        width: 50%;
    }
    .handi h2{
        display: flex;
        justify-content: left;
    }
   
    .myndighedContainer {
        display: flex;
        flex-direction: column ; 
        justify-content: space-between; 
        align-items: flex-start; 
        max-width: 75%;
        margin: 0 auto;
    }
    
    .myndighedContainer .content {
        flex: 1; /* Take remaining space */
    }
    
    .myndighedContainer img {
        max-width: 30%;
        height: auto;
        margin-top: 2rem;
        padding: 2rem;
    }
  }