.container {
  width: 100%;
}

.vores-dyr-oversigt {
  background-color: #9c9e30;
}

.generel-title {
  background-color: #9c9e30;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vores-dyr-intro {
  background-color: #737d4a;
  display: flex;
  flex-direction: column;
}

.vores-dyr-intro p {
  color: white;
  padding-bottom: 24px;
  max-width: 90%;
  margin: 0 auto;
}

.vores-dyr-intro p:nth-of-type(1) {
  font-weight: bold;
  padding-top: 24px;
}

/* Filter buttons */

.filter-buttons {
  display: flex;
  flex-direction: column;
  padding-block: 16px;
}

.filter-buttons button {
  border-width: 0;
  background-color: white;
  border-radius: 32px;
  width: 90px;
  height: 35px;
  margin: 5px 5px;
}

.filter-buttons-top,
.filter-buttons-bottom {
  margin: 0 auto;
}

/* dyre-oversigt */
.post a img {
  width: 100%;
  border-radius: 0 0 16px 16px;
  aspect-ratio: 16/9;
}

.post {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center;
  margin-block: 30px;
}

.post h2 {
  padding: 8px;
  font-size: 16px;
}

.se-flere-dyr-container button {
  background-color: transparent;
  border-style: solid;
  border-radius: 9999px;
  color: white;
  font-weight: bold;
  padding: 15px;
}

.vores-dyr-oversigt {
  justify-content: center;
  align-items: center;
}

.se-flere-dyr-container {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}

/* media queries */

@media (min-width: 768px) {
  .post {
    width: 402px;
  }

  .dyr-oversigt-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    margin: 0 auto;
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    padding-block: 16px;
    margin-left: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .filter-buttons div {
    display: inline-flex;
  }

  .filter-buttons-bottom,
  .filter-buttons-top {
    display: inline-flex;
    flex-direction: row;
  }
  .vores-dyr-intro img {
    display: unset;
    width: 70%;
  }
  .vores-dyr-intro {
    flex-direction: row;
    align-items: center;
  }
  .vores-dyr-intro p {
    max-width: 60%;
    font-size: 24px;
  }
}

@media (min-width: 1300px) {
  .dyr-oversigt-container {
    grid-template-columns: repeat(3, 1fr);
  }
}